.footer {
  
     background-color: rgb(95, 103, 145);
    padding: 5%;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.footer .icon {
    padding: 3px;
    
}
.footer .icon:hover {
    padding: 6px;
    
    color: rgb(190, 198, 238);
}